.header {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;

  .headerWrapper {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .avatar {
    border-radius: 50%;
    height: 40px;
    width: 40px;
  }

  .menu {
    color: #fff;
    display: flex;
    align-items: center;
    font-size: 16px;
    .menuItem {
      padding: 8px 0;
      margin: 0 12px;
      cursor: pointer;
      position: relative;
      letter-spacing: 0.1em;
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        height: 1px;
        left: 0;
        width: 100%;
        background-color: #fff;
        transition: all 0.3s;
        transform: scale(0);
      }
      &:hover {
        &::after {
          transform: scale(1);
        }
      }
    }
  }
}
