@import "../../assets/less/variable";
.tag-wrapper {
  width: 100%;
  height: 100%;
  .tag-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-top: 20px;
  }
  .tag-title {
    font-size: 26px;
    margin-bottom: 30px;
  }
}

.tag-center {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 0 50px;
  max-width: 600px;
}
.tag-list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  .tag-item {
    margin-bottom: 20px;
    color: @primary-color;
    font-size: 16px;
    width: 50%;
    text-align: center;
    &:hover {
      text-decoration: underline;
    }
  }
}

